<h1>投稿の一覧</h1>
<ul class="notes">
  <% @notes.each do |note| %>
    <li>
      <p>タイトル</p>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>
      </span>
    </li>
  <% end %>
</ul>